---
import "@styles/index.css";
import "@fontsource-variable/nunito-sans";
import "@fontsource/baskervville";
import { ViewTransitions } from "astro:transitions";

interface SiteHeadProps {
	title: string;
	description: string;
	image?: string;
}

const googleAnalyticsId = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID;
const googleTagManagerId = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props as SiteHeadProps;
---

<head lang="en">
    <script define:vars={{ googleTagManagerId }}>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',googleTagManagerId);
</script>
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="light dark">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
</head>
<script define:vars={{ googleAnalyticsId }}>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    function getCookieValue(name) {
        const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        return match ? decodeURIComponent(match[2]) : null;
    }

    function getConsentStatusFromCookie(cookieName) {
        let consentStatus = "denied";

        try {
            const cookieValue = getCookieValue(cookieName);
            if (cookieValue) {
                const cookieData = JSON.parse(cookieValue);
                if (Array.isArray(cookieData.categories) && cookieData.categories.includes("analytics")) {
                    consentStatus = "granted";
                }
            }
        } catch (error) {
            console.warn("Failed to parse cookie data", error);
        }

        return consentStatus;
    }

    const analyticsConsentStatus = getConsentStatusFromCookie("cc_cookie");

    gtag('js', new Date());
    gtag('config', googleAnalyticsId);
    gtag('consent', 'default', {
        'analytics_storage': analyticsConsentStatus
    });
</script>
<script type="text/partytown" async src=`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}` />
