---
import { PAGES_ROUTES } from '@const/index';
import HeaderLink from '../headerLink/HeaderLink.astro';
import './menu.css';
---
<section class="header__menu" id="header-menu">
    <div class="navigation__menu">
        <div class="navigation__menu__inner common-wrapper">
            <blockquote class="navigation__menu__quote flex row-wrap align-center">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor
        </span>
            </blockquote>
            <hr class="navigation__menu__divider" />
            <nav class="navigation__menu__nav column-nowrap flex">
                <div class="navigation__menu__item">
                    <span>back to start</span>
                    <HeaderLink href={`${PAGES_ROUTES.HOME}`} class="navigation__menu__link" aria-label="Home"
                                title="home">Home
                    </HeaderLink>
                </div>
                <div class="navigation__menu__item">
                    <HeaderLink href={`${PAGES_ROUTES.PROJECTS}`} class="navigation__menu__link" aria-label="Projects">
                        Projects
                    </HeaderLink>
                    <span>I worked on</span>
                </div>
                <div class="navigation__menu__item">
                    <span>my</span>
                    <HeaderLink href={`${PAGES_ROUTES.ARTICLES}`} class="navigation__menu__link" aria-label="Articles">
                        Articles
                    </HeaderLink>
                </div>
                <div class="navigation__menu__item">
                    <span>know more</span>
                    <HeaderLink href={`${PAGES_ROUTES.ABOUT}`} class="navigation__menu__link" aria-label="About">About
                    </HeaderLink>
                    <span>me</span>
                </div>
                <div class="navigation__menu__item">
                    <HeaderLink href={`${PAGES_ROUTES.CONTACT}`} class="navigation__menu__link" aria-label="Contact">
                        Contact
                    </HeaderLink>
                    <span>me</span>
                </div>
            </nav>
        </div>
    </div>
</section>
