---
import type { CollectionEntry } from "astro:content";
import { PAGES_ROUTES } from "@const/const";
import "./article-details.css";

interface Props {
	article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
---
<div class="article-details">
    <time class="article-details__publish-date font-sans-serif" datetime={article.data.publishDate}>
      {article.data.publishDate}
    </time>
    <h1 class="article-details__title">
      {article.data.title}
    </h1>
    <p class="article-details__byline font-sans-serif">
      by <a class="--underline-on-hover" href={`${PAGES_ROUTES.TAGS}/${article.data.author.slug}`}>{article.data.author.name}</a>
      <span class="article-details__byline__sep" aria-hidden="true">·</span>
      {article.data.readingTime} minutes read
    </p>
  {
      article.data.tags?.length && (
          <ul class="article-details__tags__list flex row-wrap justify-center">
            {article.data.tags?.map(({ slug, name }) => (
                <li class="article-details__tag__item font-sans-serif">
                    <a href={`${PAGES_ROUTES.TAGS}/${slug}`} class="--underline-on-hover">#{name}</a>
                </li>
            ))}
          </ul>
      )
  }
</div>
