---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { SITE_URL } from "astro:env/client";
import { PAGES_ROUTES } from "@const/index";
import type { SeoMetadata } from "@const/types";
import ArticleDetails from "@modules/article/components/articleDetails/ArticleDetails.astro";
import ReadingProgress from "@modules/article/components/readingProgress/ReadingProgress.astro";
import TableOfContents from "@modules/article/components/tableOfContents/TableOfContents.astro";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import Breadcrumbs from "@modules/core/components/breadcrumbs/Breadcrumbs.astro";
import RelatedArticles from "@modules/core/components/relatedArticles/RelatedArticles.astro";
import type { InferGetStaticPropsType } from "astro";
import "./_article.css";

type ArticleProps = InferGetStaticPropsType<typeof getStaticPaths>;

export const prerender = true;

export async function getStaticPaths() {
	const articles = await getCollection("articles");

	return articles.map((article) => {
		return {
			params: {
				slug: article.data.slug,
			},
			props: {
				article,
			},
		};
	});
}

const { pathname } = Astro.url;
const { article } = Astro.props as ArticleProps;
const metadata: Partial<SeoMetadata> = {
	...article,
	...(article.data.featuredImage && { image: article.data.featuredImage.url }),
};
const scopes = article.data.tableOfContents.map((_, index) => `--section-${index + 1}`).join(",");
---
<BaseLayout {...metadata}>
  {
      article.data.featuredImage && (
          <section class="article__featured__image__wrapper">
              <Image
                  src={article.data.featuredImage.url}
                  width={article.data.featuredImage.details.width}
                  height={article.data.featuredImage.details.height}
                  alt={article.data.title}
                  class="article__featured__image"
                  transition:name=`featured-image-${pathname}`
              />
          </section>
      )
  }
    <Breadcrumbs />
    <ReadingProgress />
    <ArticleDetails article={article} />
    <article class="article__wrapper" set:html={article.data.content} style={`--scopes: ${scopes}`}>
      {
        article.data.tableOfContents && <TableOfContents tableOfContents={article.data.tableOfContents} />
      }
    </article>
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'Article',
      'headline': article.data.title,
      'description': article.data.description,
      ...(article.data.featuredImage && { 'image': article.data.featuredImage }),
      'datePublished': new Date(String(article.data.publishDate)).toISOString(),
      'dateModified': new Date(String(article.data.publishDate)).toISOString(),
      'author': {
        '@type': 'Person',
        'name': article.data.author.name,
        'jobTitle': article.data.author.jobTitle,
        'url': new URL(`${PAGES_ROUTES.ABOUT}`, SITE_URL),
      },
      'publisher': {
        'name': article.data.author.name,
        'url': new URL(SITE_URL),
      },
      'mainEntityOfPage': {
        '@type': 'WebPage',
        '@id': Astro.url.href,
      },
    })} />
    <RelatedArticles article={article} />
</BaseLayout>
