---
import { getCollection } from 'astro:content';
import BaseLayout from '@components/templates/baseLayout/BaseLayout.astro';
import { Image } from 'astro:assets';
import MarkdownIt from 'markdown-it';
import { createExcerpt } from '@shared/utils/createExcerpt';
import { slugify } from '@shared/utils/slugify';
import { DEFAULT_DATE_OPTIONS } from 'src/consts';
import './article.css';
import horizontalArrow from '@assets/images/svg/left-arrow.svg';

const articles = await getCollection('articles');
const images = import.meta.glob('/src/assets/**/*.{jpeg,jpg,png,gif}');

articles.sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
const {
    body: featuredArticleBody,
    data: featuredArticle,
    slug: featuredArticleSlug,
} = articles.find((article) => article.data.isFeatured && article.data.featuredImage) ??
articles.find((article) => article.data.featuredImage);

const parser: MarkdownIt = MarkdownIt('default', {});

const { excerpt: featuredArticleExcerpt } = createExcerpt({ parser, content: featuredArticleBody });
const publishedDate = featuredArticle.publishDate.toLocaleDateString('en', DEFAULT_DATE_OPTIONS);
const featuredArticleHref = `/articles/${featuredArticleSlug}`;
---

<!-- todo: isolate sections -->
<BaseLayout title="" description="">
    <h1 class="articles__title section-title">The Blog</h1>
    <div class="articles__wrapper">
        <section class="articles__wrapper__inner common-wrapper">
            <div class="featured-article__wrapper">
                <a href={`/articles/${featuredArticleSlug}`}>
                    <Image
                        class="featured-article__image"
                        src={images[featuredArticle.featuredImage]()}
                        alt={featuredArticle.title}
                    />
                </a>
                <div class="featured-article__details flex column-wrap">
                    <time class="featured-article__publish-date font-sans-serif" datetime={publishedDate}>
                        {publishedDate}
                    </time>
                    <h2 class="featured-article__title">{featuredArticle.title}</h2>
                    <p class="featured-article__description">{featuredArticleExcerpt}</p>
                    {
                        featuredArticle.tags?.length > 0 && (
                            <ul class="featured-article__tags__list">
                                {featuredArticle.tags.map((tag) => (
                                    <a class="featured-article__tag__item" href={`/tags/${slugify(tag)}`}>
                                        #{tag}
                                    </a>
                                ))}
                            </ul>
                        )
                    }
                    <a href={featuredArticleHref} class="featured-article__link flex align-center">
                        Read More <img src={horizontalArrow.src} alt="Readt more" />
                    </a>
                </div>
            </div>
        </section>
    </div>
    <section class="articles__grid">
        <ul class="articles__grid__list flex row-wrap">
            {
                articles.map(({ body, data: article, slug }) => {
                    const { excerpt } = createExcerpt({ parser, content: body });
                    const publishedDate = article.publishDate.toLocaleDateString('en', DEFAULT_DATE_OPTIONS);

                    return (
                        <li class="articles__grid__item">
                            <a href={`/articles/${slug}`} aria-label={article.title} />
                            <article class="article__wrapper">
                                {article.featuredImage && (
                                    <Image
                                        class="article__image"
                                        src={images[article.featuredImage]()}
                                        alt={article.title}
                                    />
                                )}
                                <div class="article__details flex column-wrap">
                                    <time class="article__publish-date font-sans-serif" datetime={publishedDate}>
                                        {publishedDate}
                                    </time>
                                    <h2 class="article__title">{article.title}</h2>
                                    <p class="article__description">{excerpt}</p>
                                    {article.tags?.length > 0 && (
                                        <ul class="article__tags__list">
                                            {article.tags.map((tag) => (
                                                <a class="article__tag__item" href={`/tags/${slugify(tag)}`}>
                                                    #{tag}
                                                </a>
                                            ))}
                                        </ul>
                                    )}
                                </div>
                            </article>
                        </li>
                    );
                })
            }
        </ul>
    </section>
</BaseLayout>
