---
import { getCollection, getEntry } from "astro:content";
import { PAGES_ROUTES } from "@const/index";
import type { SeoMetadata } from "@const/types";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import Breadcrumbs from "@modules/core/components/breadcrumbs/Breadcrumbs.astro";
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import { SITE_URL } from "astro:env/client";
import "./_tag.css";

type TagProps = InferGetStaticPropsType<typeof getStaticPaths>;
type TagParams = InferGetStaticParamsType<typeof getStaticPaths>;

export const prerender = true;

export async function getStaticPaths() {
	const tags = await getCollection("tags");

	return await Promise.all(
		tags
			.flatMap((tag) => tag.data.tags)
			.map(async (tag) => {
				const articles = await Promise.all(
					tag.articles.map(async (article) => await getEntry(article.collection, article.id)),
				);

				return {
					params: {
						slug: tag.slug,
					},
					props: {
						tag: {
							...tag,
							articles: articles
								.filter(Boolean)
								.sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime()),
						},
					},
				};
			}),
	);
}

const { slug } = Astro.params as TagParams;
const { tag } = Astro.props as TagProps;
const metadata: Partial<SeoMetadata> = {
	title: `#${slug}`,
	description: `Articles tagged with #${slug}.`,
};
---
<BaseLayout {...metadata}>
    <Breadcrumbs />
    <h1 class="flex justify-center">#{slug}</h1>    <section class="common-wrapper">
    <ul class="tag__article__list grid">
      {tag.articles?.map((article) => {
        return (
            <li class="tag__article__item relative">
                <ArticleCard {...article} />
            </li>
        )
      })}
    </ul>
</section>
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'ItemList',
      'itemListElement': (tag.articles ?? []).map((article, index) => ({
        '@type': 'ListItem',
        'position': index + 1,
        ...(article && {
          'url': new URL(`${PAGES_ROUTES.ARTICLE}${article.data.slug}`, SITE_URL).href,
        }),
      })),
    })} />
</BaseLayout>
