---
import { tagDTO } from "@application/dto/tag/tagDTO";
import type { RawTag } from "@application/dto/tag/types";
import { client } from "@infrastructure/cms/client";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import Breadcrumbs from "@modules/core/components/breadcrumbs/Breadcrumbs.astro";
import "./_tags.css";

const { items: rawTags } = await client.getEntries<RawTag>({
	content_type: "tag",
});

const tags = await tagDTO.render(rawTags as RawTag[]);
---

<BaseLayout>
    <Breadcrumbs />
    <section class="common-wrapper">
        <h1 class="flex justify-center">All tags</h1>
        <ul class="tags__list flex row-wrap">
          {Object.keys(tags).map((letter, index) => (
              <li class="tags__item">
                  <h2 class="tags__item__letter">{letter}</h2>
                  <ul class="tags__item__list flex column-wrap">
                    {tags[letter].map(({ name, slug, count }) => (
                        <li class="tag__item font-sans-serif">
                            <a href={`/tags/${slug}`}>{name}</a>
                            (&times;{count})
                        </li>
                        <script type="application/ld+json" set:html={JSON.stringify({
                          '@context': 'https://schema.org',
                          '@type': 'ItemList',
                          'itemListElement': {
                            '@type': 'ListItem',
                            'position': index + 1,
                            'url': new URL(`${Astro.url}/${slug}`, Astro.url).href,
                          },
                        })}/>
                    ))}
                  </ul>
              </li>
          ))}
        </ul>
    </section>
</BaseLayout>
