---
import { Image } from "astro:assets";
import ProjectSection from "@components/atoms/projectSection/ProjectSection.astro";
import ProjectsIntro from "@components/organisms/projectsIntro/ProjectsIntro.astro";
import BaseLayout from "@components/templates/baseLayout/BaseLayout.astro";

const images = import.meta.glob("/src/assets/**/*.{jpeg,jpg,png,gif}");

const projects = [
	{
		id: "stories-of-impact",
		title: "Stories of Impact",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		image: images["/src/assets/images/jpg/stories-of-impact.jpg"](),
	},
	{
		id: "reports-and-thought-leadership",
		title: "Reports and Thought Leadership",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		image: images["/src/assets/images/jpg/thought-leadership.jpg"](),
	},
	{
		id: "creative-direction",
		title: "Creative Direction",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		image: images["/src/assets/images/jpg/creative-direction.jpg"](),
	},
	{
		id: "web-content",
		title: "Web Content",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		image: images["/src/assets/images/jpg/web-content.jpg"](),
	},
];
---

<BaseLayout title="" description="">
  <ProjectsIntro />
  {projects.map((project, index) =>{
    return (
      <ProjectSection id={project.id}>
        <article style={`--index: ${index}`} class="project__wrapper">
          <div class="project-image__wrapper" slot="project-image">
            <Image class="project-image" src={project.image} alt={project.title} />
          </div>
          <div class="project-information" slot="project-information">
            <h2 class="project-title font-serif">{project.title}</h2>
            <p>{project.description}</p>
          </div>
        </article>
      </ProjectSection>
    )
  })}
</BaseLayout>
