---
import { Image } from "astro:assets";
import { projectDTO } from "@application/dto/project";
import type { RawProject } from "@application/dto/project/types";
import ProjectSection from "@components/atoms/projectSection/ProjectSection.astro";
import ProjectsIntro from "@components/organisms/projectsIntro/ProjectsIntro.astro";
import BaseLayout from "@components/templates/baseLayout/BaseLayout.astro";
import { client } from "@lib/contentful";

const { items: rawProjects } = await client.getEntries<RawProject>({
	content_type: "project",
});
const projects = projectDTO.render(rawProjects as RawProject[]);
---

<BaseLayout title="" description="">
  <ProjectsIntro />
  {projects.map((project, index) =>{
    return (
      <ProjectSection id={project.id}>
        <article style={`--index: ${index}`} class="project__wrapper">
          <div class="project-image__wrapper" slot="project-image">
            <Image class="project-image" src={project.image.url} alt={project.name} width={project.image.details.width} height={project.image.details.height} />
          </div>
          <div class="project-information" slot="project-information">
            <h2 class="project-title font-serif">{project.name}</h2>
            <article set:html={project.description} />
          </div>
        </article>
      </ProjectSection>
    )
  })}
</BaseLayout>
