---
import { breadcrumbDTO } from "@application/dto/breadcrumb/breadcrumbDTO";
import "./breadcrumbs.css";

interface BreadcrumbProps {
	classNames?: string;
}

const { classNames } = Astro.props as BreadcrumbProps;
const { pathname: currentPath, origin } = Astro.url;

const breadcrumbs = breadcrumbDTO.render({ currentPath });
---

<section class:list={[`breadcrumbs__wrapper ${classNames}`, { 'common-wrapper': classNames }]}>
<ul class="breadcrumbs__list flex justify-center align-center font-sans-serif">
  {breadcrumbs?.map(({ link, label }, index) => {
      const isLast = breadcrumbs.at(-1).link === link

      return (
        <li class="breadcrumb__item flex">
          {!isLast ? (
              <a href={link}>{label}</a><span>/</span>
            ) : (
            <strong class="--is-current-page">{label}</strong>
            )}
          <script type="application/ld+json" set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "ListItem",
            "position": index + 1,
            "item": {
              "@id": `${origin}${link}`,
              "name": label
            }
          })}/>
        </li>
      );
    })}
</ul>
</section>
