---
import { breadcrumbDTO } from "@application/dto/breadcrumb/breadcrumbDTO";
import { getLocation } from "@modules/core/utils/getLocation";
import "./breadcrumbs.css";

const { pathname: currentPath, origin: originPath } = Astro.url;

const breadcrumbs = breadcrumbDTO.render({ currentPath });
const origin = getLocation(Astro.url);
---

<section class:list={[`breadcrumbs__wrapper common-wrapper`, { [`--is-${origin}`]: origin}]}>
<ul class="breadcrumbs__list flex justify-center align-center font-sans-serif">
  {breadcrumbs?.map(({ link, label }, index) => {
      const isLast = breadcrumbs.at(-1).link === link

      return (
        <li class="breadcrumb__item flex">
          {!isLast ? (
              <a href={link}>{label}</a><span>/</span>
            ) : (
            <strong class="--is-current-page">{label}</strong>
            )}
          <script type="application/ld+json" set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "ListItem",
            "position": index + 1,
            "item": {
              "@id": `${originPath}${link}`,
              "name": label
            }
          })}/>
        </li>
      );
    })}
</ul>
</section>
