---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { ArticleType } from "@application/dto/article/types";
import { PAGES_ROUTES } from "@const/index";
import clsx from "clsx";
import "./related-article-card.css";

type RelatedArticleCardProps = CollectionEntry<"articles">;

const { pathname } = Astro.url;
const relatedArticle = Astro.props as RelatedArticleCardProps;
---

<a class="related-article__link-card" href={`${PAGES_ROUTES.ARTICLES}/${relatedArticle.data.slug}`}
   aria-label={relatedArticle.data.title}>{' '}</a>
<article
    class={clsx(
        'related-article__item',
        {
          '--default-variant': relatedArticle.data.variant === ArticleType.DEFAULT,
          '--no-image-variant': relatedArticle.data.variant === ArticleType.NO_IMAGE,
        },
    )}
>
  {relatedArticle.data.featuredImage && (
      <Image
          class="related-article__item__featured-image"
          src={relatedArticle.data.featuredImage.url}
          width={relatedArticle.data.featuredImage.details.width}
          height={relatedArticle.data.featuredImage.details.height}
          alt={relatedArticle.data.title}
          transition:name=`featured-image-${pathname}`
      />
  )}
    <time class="related-article__item__publish-date" datetime={relatedArticle.data.publishDate}>
      {relatedArticle.data.publishDate}
    </time>
    <h3 class="related-article__title font-serif inner-section-title">{relatedArticle.data.title}</h3>
    <p class="related-article__author">
        by <a href={`${PAGES_ROUTES.TAGS}/${relatedArticle.data.author.slug}`} class="related-article__author__name --underline-on-hover --is-clickable">{relatedArticle.data.author.name}</a>
    </p>
    <p class="related-article__excerpt">{relatedArticle.data.description}</p>
    <p class="related-article__reading-time">{relatedArticle.data.readingTime} minutes read</p>
    <ul class="related-article__tags__list flex">
      {relatedArticle.data.tags?.map(({ slug, name }, index) => (
          <a class="related-article__tag__item --underline-on-hover --is-clickable" href={`${PAGES_ROUTES.TAGS}/${slug}`} style={`--inline-index: ${String(index)}`}>
              #{name}
          </a>
      ))}
    </ul>
</article>
