---
import type { ArticleDTO } from "@application/dto/article/types";
import horizontalArrow from "@assets/images/svg/left-arrow.svg";
import "./featured-article.css";

interface FeaturedArticleProps {
	featuredArticle: ArticleDTO;
}

const { featuredArticle } = Astro.props as FeaturedArticleProps;
const featuredArticleShareUrl = new URL(`/articles/${featuredArticle.slug}`, Astro.url).href;
---

<div class="articles__wrapper">
  <section class="articles__wrapper__inner common-wrapper">
    <div class="featured-article__wrapper">
      <a href={`/articles/${featuredArticle.slug}`}>
        <img
          decoding="async"
          loading="lazy"
          class="featured-article__image"
          src={featuredArticle.featuredImage}
          alt={"featuredArticle.title"}
        />
      </a>
      <div class="featured-article__details__wrapper flex row-wrap">
        <div class="featured-article__details flex column-wrap">
          <time class="featured-article__publish-date font-sans-serif"
                datetime={featuredArticle.publishDate}>
            {featuredArticle.publishDate}
          </time>
          <h2 class="featured-article__title">{featuredArticle.title}</h2>
          <p class="featured-article__description" set:html={featuredArticle.description} />
          {
            featuredArticle.tags?.length > 0 && (
              <ul class="featured-article__tags__list flex">
                {featuredArticle.tags.map(({ name, slug }) => (
                  <a class="featured-article__tag__item" href={`/tags/${slug}`}>
                    #{name}
                  </a>
                ))}
              </ul>
            )
          }
          <a href={`/articles/${featuredArticle.slug}`} class="featured-article__link flex align-center">
            Read More <img src={horizontalArrow.src} alt="Readt more" />
          </a>
        </div>
        <div class="featured-article__share__wrapper flex row-wrap">
          <p class="featured-article__share__title font-serif">SHARE IT!</p>
          <ul class="featured-article__share__links__list flex row-nowrap">
            <li class="featured-article__share__link__item link">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href={`https://www.linkedin.com/sharing/share-offsite/?url=${featuredArticleShareUrl}`}
              >
                Linkedin
              </a>
            </li>
            <li class="featured-article__share__link__item link">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href={`https://twitter.com/intent/tweet?url=${featuredArticleShareUrl}&text=${featuredArticle.title}&hashtags=${featuredArticle.tags?.join(
                  ',')}`}>
                X (former Twitter)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type="application/ld+json" set:html={JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'ItemList',
      'itemListElement': {
        '@type': 'ListItem',
        'position': 1,
        'url': new URL(`${Astro.url}/${featuredArticle.slug}`, Astro.url).href,
      },
    })} />
  </section>
</div>