---
import { Image } from "astro:assets";
import { projectDTO } from "@application/dto/project";
import type { RawProject } from "@application/dto/project/types";
import { client } from "@infrastructure/cms/client";
import "./my-work.css";

const { items: rawProjects } = await client.getEntries<RawProject>({
	content_type: "project",
});
const projects = projectDTO.render(rawProjects as RawProject[]);
---

<section class="my-work__wrapper common-wrapper">
  <h3 class="my-work__title section-title">My Work</h3>
  <ul class="my-work__content__list flex row-wrap justify-space-between">
    {projects.map((project, index) => {
      return (
        <li class="my-work__item">
          <a class="my-work__item__link clickable" href={`/projects#${project.id}`}>
            <Image
              src={project.image.url}
              alt={project.name}
              width={project.image.details.width}
              height={project.image.details.height}
            />
            <h4 class="my-work__item__title inner-section-title">{project.name}</h4>
          </a>
        </li>
        <script type="application/ld+json" set:html={JSON.stringify({
          '@context': 'https://schema.org',
          '@type': 'ItemList',
          'itemListElement': {
            '@type': 'ListItem',
            'position': index + 1,
            'url': new URL(`${Astro.url}projects#${project.id}`, Astro.url).href,
          },
        })} />
      );
    })}
  </ul>
</section>
